node_modules
.git
.gitignore
.next
.env
.env.local
.env.production
.env.development
coverage
Dockerfile
docker-compose*.yml
nginx
*.md
.gitkeep
.dockerignore
.gitattributes
.editorconfig
.prettierrc
.eslintrc*
.vscode
.idea
