@import "tailwindcss";

/* Definición del Design System */
@theme {
  --color-pixel-primary: #2D5A27;
  --color-pixel-accent: #F37021;
  --color-pixel-bgMain: #F8F9FA;
  --color-pixel-bgSec: #1E293B;
  --color-pixel-text: #334155;
}

body {
  background-color: var(--color-pixel-bgMain);
  color: var(--color-pixel-text);
  min-height: 100vh;
}

/* Clases de Utilidad Personalizadas */
@layer utilities {

  /* Aquí consumimos la variable que Next.js nos inyectará */
  .pixel-font {
    font-family: var(--font-pixel), cursive;
  }

  .pixel-border {
    border: 2px solid var(--color-pixel-bgSec);
    box-shadow: 4px 4px 0px var(--color-pixel-bgSec);
  }

  .pixel-border-accent {
    border: 2px solid var(--color-pixel-accent);
    box-shadow: 4px 4px 0px var(--color-pixel-bgSec);
  }

  .hover-lift {
    transition: all 0.2s ease-in-out;
  }

  .hover-lift:hover {
    transform: translateY(-4px);
    box-shadow: 6px 6px 0px var(--color-pixel-bgSec);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mask-image-gradient {
    mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
  }
}